[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = An open source, general-purpose policy engine.
[access "refs/*"]
	owner = group user/Philippe Perrault (philippe-perrault)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Philippe Perrault (philippe-perrault)
	label-Verified = -1..+1 group user/Philippe Perrault (philippe-perrault)
	push = group user/Philippe Perrault (philippe-perrault)
	read = group user/Philippe Perrault (philippe-perrault)
	rebase = group user/Philippe Perrault (philippe-perrault)
	removeReviewer = group user/Philippe Perrault (philippe-perrault)
	submit = group user/Philippe Perrault (philippe-perrault)
[access "refs/heads/*"]
	create = group user/Philippe Perrault (philippe-perrault)
	push = +force group user/Philippe Perrault (philippe-perrault)
	pushMerge = group user/Philippe Perrault (philippe-perrault)
	read = group user/Philippe Perrault (philippe-perrault)
[access "refs/tags/*"]
	push = group user/Philippe Perrault (philippe-perrault)
	push = +force group user/Philippe Perrault (philippe-perrault)
